<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Title -->
  <title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

  <!-- SEO -->
  {{ partial "layout/head/seo.html" . }}

  <!-- CSS loader -->
  {{ partial "layout/head/css.html" . }}

  <!-- Features (KaTeX / Mermaid / etc) -->
  {{ partial "features/katex.html" . }}
  {{ partial "features/mermaid.html" . }}

  <!-- Google tag (gtag.js) -->
  {{ if not .Site.IsServer }}
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-7SM0DFG7FG"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-7SM0DFG7FG');
  </script>
  {{ end }}

  <!-- JS loader -->
  {{ partial "layout/head/js.html" . }}

</head>
